name: Build and Test
on:
  push:
    branches-ignore:
      - 'master'
    tags-ignore:
      - '**'
  pull_request:
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: go build .
      - name: Tests.
        run: go test

