name: Latest build
on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - '**'
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - uses: golangci/golangci-lint-action@v9
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and test
        run: |
          go build .
          go test
          go clean
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker push
        run: docker push ghcr.io/${GITHUB_REPOSITORY}:latest